html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #f5f6f8;
	font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3b434e;
	--gray-light: #ebebeb;
	--gray: #a4a4a4;
	--gray-dark: #6c7077;
	--white: white;
	--primary: #7351f5;
	--primary-hover: #422f8f;
	--red: #fc836d;
	--red-light: #fee291;
	--green: #127a4f;
	--green-light: #c8f8e4;
	--font-family: 'Noto Sans', sans-serif;
}
